@import '../../global.scss';

.client-dashboard {
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: #e1dcd9;

  .sidebar {
    width: 30vw;
    // background: #5f4945;
    // background: #846965;
    background: #7c8ca7;
    margin-right: 20px;
    display: flex;
    transition: all 2s ease;

    .sidebar-container {
      width: 90%;
      margin: auto;
      margin-top: 120px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      position: relative;
      top: -70px;
      .item {
        width: 40%;
        margin: 10px;
        height: 25%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &.free {
          cursor: auto;
        }
        .icon {
          font-size: 48px;
          color: black;
        }
        span {
          text-align: center;
          overflow: hidden;
          color: black;
        }
        .loan-icon {
          padding-top: 5px;
          transform: scale(1.5);
        }
        .loan-tag {
          margin-top: 15px;
        }
      }
      .logout-btn {
        width: 90%;
        margin-top: 100px;
        margin-bottom: 10px;
        cursor: pointer;
        color: $white;
        background: $primary-500;
        border: transparent;
        border-radius: 4px;
        letter-spacing: $letterSpacing;
        padding: 15px;
        box-shadow: $shadow-1;
        transition: $transition;
        text-transform: capitalize;
        display: inline-block;
        &:hover {
          background: $primary-700;
          box-shadow: $shadow-3;
        }
      }
    }
  }
  .body {
    padding-right: 50px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      width: 100%;
      margin: auto;
      overflow: hidden;
      background: #fff;
      margin: 0 40px 10px 10px;
      z-index: 2;

      .menu-hamburger {
        margin: 10px;
        cursor: pointer;
      }

      h3 {
        color: #5f4945;
        margin-left: 10px;
        .account-name {
          font-size: larger;
          color: #32435f;
          padding: 0 7px;
        }
      }
      .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;

        .account-icon {
          cursor: pointer;
        }

        .notification-icon-container {
          padding-top: 3px;
          .notification-icon-background {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border-radius: 50%;
            transition: all 0.5s ease;
            padding: 3px;
            margin-right: 13px;
            overflow: hidden;

            .notification-icon {
              position: relative;
              z-index: 1;
              transition: all 0.5s ease;
              color: #32435f;

              &:hover {
                color: #e1dcd9;
              }
            }

            &:hover {
              background: #7c8ca7;
            }
          }
          .notification-alert {
            position: relative;
            padding: 2px;
            z-index: 2;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background: red;
            left: 22px;
            top: -35px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
            overflow: hidden;

            &.remove {
              display: none;
            }
          }
          &.active {
            padding-top: 23px;
          }
        }
        .account-icon-container {
          height: 40px;
          width: 40px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          border-radius: 50%;
          transition: all 0.5s ease;
          overflow: hidden;
          margin-left: -8px;

          .account-icon {
            position: relative;
            z-index: 1;
            transition: all 0.5s ease;
            color: #32435f;

            &:hover {
              color: #e1dcd9;
            }
          }

          .profile-photo {
            width: 80%;
            height: 80%;
            border: 1px solid #e3b23c;
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.5s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
          }

          &:hover {
            background: #7c8ca7;
          }
        }
      }
    }

    .container {
      height: calc(100% - 70px);
      width: 100%;
      background: #fff;
      display: flex;
      flex-direction: row;
      margin: 10px 40px 0 10px;
      position: relative;
      padding-bottom: 20px;

      .profile-menu {
        width: 100px;
        background: white;
        color: #32435f;
        position: fixed;
        top: 70px;
        right: -200px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 2;
        transition: all 2s ease;
        &.active {
          right: 15px;
        }
        span {
          width: 100%;
          height: 1px;
          background: #32435f;
        }
        div {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &.profile {
            height: 30px;
            border-radius: 5px;
            padding: 2.5px;
            text-align: center;
            transition: all 0.5s ease;

            &:hover {
              background: #7c8ca7;
              color: #e1dcd9;
            }
          }

          &.logout {
            height: 30px;
            border-radius: 5px;
            padding: 2.5px;
            text-align: center;
            transition: all 0.5s ease;

            &:hover {
              background: #860202;
              color: #e1dcd9;
            }
          }
        }
      }

      .notifications-container {
        width: 50%;
        height: 60%;
        position: fixed;
        right: 2%;
        top: -62%;
        z-index: 1;
        background: whitesmoke;
        transition: all 1.5s ease;
        max-width: 300px;
        border-radius: 5px;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
        padding: 0 10px 10px 10px;

        .read-all {
          cursor: pointer;
          transition: all 0.5s ease;
          &:hover {
            color: #7c8ca7;
          }
        }

        .notifications {
          .new-notifications-container {
            .single-new-notification {
              // background: #8f8681;
              background: #32435f;
              color: white;
              cursor: pointer;
              padding: 0 15px;
              border-radius: 5px;
              transition: all 0.5s ease;
              width: 80%;
              margin: auto;
              margin-top: 5px;
              &:hover {
                transform: scale(1.02);
              }
            }
          }
          .old-notifications-container {
            .single-old-notification {
              cursor: pointer;
              padding: 0 15px;
              // background: #e1dcd9;
              background: #7c8ca7;
              color: white;
              border-radius: 5px;
              transition: all 0.5s ease;
              width: 85%;
              margin: auto;
              margin-top: 5px;
              &:hover {
                transform: scale(1.02);
              }
            }
          }
        }

        &.active {
          top: 75px;
        }
      }

      .totals-container {
        width: 100vw;
        overflow: hidden;
        position: relative;

        .total {
          height: 150px;
          width: 35vw;
          background: #8f8681;
          background: #7c8ca7;
          color: white;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          transition: all 1s ease;
          margin: 20px;
          padding: 20px 0;
          cursor: pointer;
          max-width: 90vw;

          .total-info {
            display: flex;
            flex-direction: column;
            h3,
            strong,
            p {
              padding-left: 30px;
              margin-bottom: -8px;
            }
            .amount {
              font-size: 35px;
              margin: 10px 0;
            }
            .savings-percentage {
              margin: -2px 0;
            }
          }
          &.two {
            background: #a67f78;
          }
          &:hover {
            background: #32435f;
          }
          @media (max-width: 768px) {
            width: 90vw;
            height: 150px;
            margin-left: 3%;
          }
        }
      }
      .menu-icons-container {
        width: 90%;
        height: 500px;
        background: #e1dcd9;
        margin: auto;
        border-radius: 10px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .item {
          width: 25%;
          margin: 10px;
          height: 25%;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.free {
            cursor: auto;
          }
          .icon {
            font-size: 48px;
            color: black;
          }
          span {
            text-align: center;
            overflow: hidden;
            color: black;
          }
          .loan-icon {
            transform: scale(1.5);
          }
          .loan-tag {
            margin-top: 15px;
          }
        }
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      .chart-container {
        width: 90%;
        height: 450px;
        background: #edebd7;
        margin: auto;
        border-radius: 10px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
    .body {
      width: 100vw;
      padding: 0;
      .top {
        width: 100%;
        margin-left: 0;
        .menu-hamburger {
          display: none;
        }
      }
      .container {
        width: 100%;
        margin-left: 0;
        .totals-container {
          padding-left: 10px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    height: 100vh;
    .sidebar {
      width: 0;
      position: relative;
      margin-right: 0;
      left: -30vw;
      &.active {
        width: 30vw;
        left: 0vw;
        margin-right: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &:-webkit-scrollbar {
          display: none;
        }
      }
    }
    .body {
      width: 100vw;
      height: 100%;
      padding: 0;

      .top {
        width: 100%;
        margin-left: 0;
      }
      .container {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        .totals-container {
          display: flex;
          flex-direction: row;
          height: 52vh;
          .total {
            width: 45%;
          }
        }
        .menu-icons-container {
          display: none;
        }
        .chart-container {
          width: 95%;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .sidebar {
      display: flex;
      overflow: hidden;
      width: 30vw;
      margin-right: 20px;
    }
    .body {
      width: 100vw;
      height: 100vh;
      padding-right: 10px;
      .top {
        .menu-hamburger {
          display: none;
        }
      }
      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .totals-container {
          display: flex;
          flex-direction: row;
          height: 52vh;
          width: 99.5%;
          .total {
            width: 47.5%;
          }
        }
        .menu-icons-container {
          display: none;
        }
        .chart-container {
          width: 95%;
        }
      }
    }
  }
}
