@import '../../global.scss';

.dashboard {
  // height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  background: #e1dcd9;

  .sidebar {
    width: 30vw;
    // background: #5f4945;
    background: #846965;
    margin-right: 20px;
    display: flex;
    transition: all 2s ease;

    .sidebar-container {
      width: 90%;
      margin: auto;
      // background: #fff;
      // border-radius: 10px;
      margin-top: 120px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      position: relative;
      top: -70px;
      .item {
        width: 40%;
        margin: 10px;
        height: 25%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &.free {
          cursor: auto;
        }
        .icon {
          font-size: 48px;
          color: black;
        }
        span {
          text-align: center;
          overflow: hidden;
          color: black;
        }
        .loan-icon {
          padding-top: 5px;
          transform: scale(1.5);
          // background: red;
        }
        .loan-tag {
          margin-top: 15px;
        }
      }
      .logout-btn {
        width: 90%;
        margin-top: 100px;
        margin-bottom: 10px;
        cursor: pointer;
        color: $white;
        background: $primary-500;
        border: transparent;
        border-radius: 4px;
        letter-spacing: $letterSpacing;
        padding: 15px;
        box-shadow: $shadow-1;
        transition: $transition;
        text-transform: capitalize;
        display: inline-block;
        &:hover {
          background: $primary-700;
          box-shadow: $shadow-3;
        }
      }
    }
  }
  .body {
    padding-right: 50px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 70px;
      width: 100%;
      margin: auto;
      overflow: hidden;
      background: #fff;
      margin: 0 40px 10px 10px;

      .menu-hamburger {
        margin: 10px;
        cursor: pointer;
      }

      h3 {
        color: #5f4945;
        margin-left: 10px;
        .account-name {
          font-size: larger;
          color: #32435f;
          padding: 0 7px;
        }
      }
      .notification-icon-container {
        display: flex;
        flex-direction: row;
        cursor: pointer;
        border-radius: 50%;
        transition: all 1s ease;
        padding: 10px 0 10px 10px;
        margin-right: 13px;

        .notification-icon {
          position: relative;
          z-index: 1;
          transition: all 1s ease;
        }
        .notification-alert {
          position: relative;
          z-index: 2;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: red;
          margin-top: 4px;
          right: 17px;
          top: 2px;
        }
        &:hover {
          background: #e1dcd9;
        }
      }
    }

    .container {
      // height: 100%;
      height: calc(100% - 70px);
      width: 100%;
      background: #fff;
      display: flex;
      flex-direction: row;
      margin: 10px 40px 0 10px;
      position: relative;
      padding-bottom: 20px;

      .totals-container {
        width: 100%;
        overflow: hidden;

        .total {
          height: 150px;
          width: 35vw;
          background: #8f8681;
          color: white;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          transition: all 1s ease;
          margin: 20px;
          padding: 20px 0;

          .total-info {
            display: flex;
            flex-direction: column;
            h3,
            strong,
            p {
              padding-left: 30px;
              margin-bottom: -8px;
            }
            .amount {
              font-size: 35px;
              margin: 10px 0;
            }
            .savings-percentage {
              margin: -2px 0;
            }
          }
          &.two {
            background: #a67f78;
          }
          &:hover {
            background: #32435f;
          }
          @media (max-width: 768px) {
            width: 90%;
            height: 150px;
          }
        }
      }
      .menu-icons-container {
        width: 90%;
        height: 500px;
        // background: #5f4945;
        background: #e1dcd9;
        // border: 1px solid #5f4945;
        margin: auto;
        border-radius: 10px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        .item {
          width: 25%;
          margin: 10px;
          height: 25%;
          // background: white;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &.free {
            cursor: auto;
          }
          .icon {
            font-size: 48px;
            color: black;
          }
          span {
            text-align: center;
            overflow: hidden;
            color: black;
          }
          .loan-icon {
            transform: scale(1.5);
            // background: red;
          }
          .loan-tag {
            margin-top: 15px;
          }
        }
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
      .chart-container {
        width: 90%;
        height: 500px;
        background: #a67f78;
        // background: #e1dcd9;
        // border: 1px solid #5f4945;
        margin: auto;
        border-radius: 10px;
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
      }
    }
  }
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
    .body {
      width: 100vw;
      padding: 0;
      .top {
        width: 100%;
        margin-left: 0;
        .menu-hamburger {
          display: none;
        }
      }
      .container {
        width: 100%;
        margin-left: 0;
        .totals-container {
          padding-left: 10px;
        }
      }
    }
  }
  @media (min-width: 768px) and (max-width: 992px) {
    height: 100vh;
    .sidebar {
      width: 0;
      position: relative;
      margin-right: 0;
      left: -30vw;
      &.active {
        width: 30vw;
        left: 0vw;
        margin-right: 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &:-webkit-scrollbar {
          display: none;
        }
      }
    }
    .body {
      width: 100vw;
      height: 100%;
      padding: 0;

      .top {
        width: 100%;
        margin-left: 0;
      }
      .container {
        width: 100%;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        .totals-container {
          display: flex;
          flex-direction: row;
          height: 43vh;
          .total {
            width: 45%;
          }
        }
        .menu-icons-container {
          display: none;
        }
        .chart-container {
          width: 95%;
        }
      }
    }
  }
  @media (min-width: 992px) {
    .sidebar {
      display: flex;
      overflow: hidden;
      width: 30vw;
      margin-right: 20px;
    }
    .body {
      width: 100vw;
      height: 100vh;
      padding-right: 10px;
      .top {
        .menu-hamburger {
          display: none;
        }
      }
      .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        .totals-container {
          display: flex;
          flex-direction: row;
          height: 43vh;
          width: 99.5%;
          .total {
            width: 47.5%;
          }
        }
        .menu-icons-container {
          display: none;
        }
        .chart-container {
          width: 95%;
        }
      }
    }
  }
}
