.select-account {
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    position: relative;
    max-width: 600px;
    border-radius: 3px;
    // background: #e1dcd9;

    .header {
      text-align: center;
    }

    .total {
      height: 150px;
      width: 90%;
      background: #7c8ca7;
      color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      transition: all 1s ease;
      margin: 20px;
      padding: 20px 0;
      cursor: pointer;

      .total-info {
        display: flex;
        flex-direction: column;
        h3,
        strong,
        p {
          padding-left: 30px;
          margin-bottom: -8px;
        }
        .amount {
          font-size: 35px;
          margin: 10px 0;
        }
        .savings-percentage {
          margin: -2px 0;
        }
      }
      &.two {
        background: #a67f78;
      }
      &:hover {
        background: #32435f;
      }
      @media (min-width: 768px) {
        width: 94%;
      }
    }
  }
}
