@import '../../../../global.scss';

.open-account {
  width: 100vw;
  height: 100vh;
  background: url('../../../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  .form {
    margin: 20px 0;

    .form-select {
      margin-top: 20px;
      width: 98%;
      padding: 11px;
      border-radius: 4px;
      background: $backgroundColor;
      border-color: #d9dadb;
      cursor: pointer;
      &::placeholder {
        font-family: inherit;
        color: $grey-400;
      }
      @media (min-width: 992px) {
        width: 98%;
      }
      @media (min-width: 768px) {
        width: 95%;
      }
      @media (max-width: 576px) {
        width: 99%;
      }
    }
  }
}
