.user-profile {
  width: 100vw;
  height: 100vh;
  background: #e1dcd9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .profile-photo {
    width: 100px;
    height: 90px;
    border: 1px solid red;
    border-radius: 50%;
  }

  .user-info {
    background: pink;
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      width: 20%;
      margin: 0 5px;
      background: orange;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      height: 40%;

      div {
        width: 100%;
      }
    }
  }
}
