$mainColor: #21045a;
$grey-50: #f8fafc;
$backgroundColor: $grey-50;
$grey-200: #e2e8f0;
$grey-400: #94a3b8;
$borderRadius: 0.5rem;
$letterSpacing: 1px;
$smallText: 0.7em;
$white: #fff;
$fixed-width: 600px;
// $fixed-width: 900px;
$primary-500: #8f8681;
$primary-700: #32435f;
// $primary-500: #645cff;
// $primary-700: #3c3799;
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
$transition: 0.3s ease-in-out all;

.form {
  width: 90%;
  max-width: $fixed-width;
  background: $white;
  border-radius: $borderRadius;
  box-shadow: $shadow-2;
  padding: 2rem 0.3rem 2rem 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  .form-header {
    color: $primary-700;
    text-align: center;
    margin: 7px;
    font-size: larger;
  }
  .form-header-seperator {
    width: 97%;
    height: 2px;
    background: $primary-700;
    margin: 5px;
    @media (min-width: 992px) {
      width: 97%;
    }
    @media (min-width: 768px) {
      width: 93%;
    }
    @media (max-width: 576px) {
      width: 97%;
    }
  }
  .form-label {
    display: block;
    font-size: $smallText;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: $letterSpacing;
  }
  .form-input,
  .form-textarea {
    width: 90%;
    padding: 15px;
    border-radius: 4px;
    background: $backgroundColor;
    margin: auto;
    &::placeholder {
      font-family: inherit;
      color: $grey-400;
    }
  }
  .form-row {
    margin-bottom: 1rem;
  }
  .form-textarea {
    height: 7rem;
  }
  .btn {
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;
    cursor: pointer;
    color: $white;
    background: $primary-500;
    border: transparent;
    border-radius: 4px;
    letter-spacing: $letterSpacing;
    padding: 15px;
    box-shadow: $shadow-1;
    transition: $transition;
    text-transform: capitalize;
    display: inline-block;
    &:hover {
      background: $primary-700;
      box-shadow: $shadow-3;
    }
    @media (min-width: 992px) {
      width: 97%;
    }
    @media (min-width: 768px) {
      width: 94%;
    }
    @media (max-width: 576px) {
      width: 98%;
    }
  }
  @media (min-width: 992px) {
    width: 90%;
  }
  @media (min-width: 576px) {
    width: 80%;
    padding: 2rem 1rem 2rem 3rem;
  }
  @media (max-width: 576px) {
    width: 70%;
    padding: 2rem 2.5rem 2rem 3rem;
  }
}
