$mainColor: #21045a;
$grey-50: #f8fafc;
$backgroundColor: $grey-50;
$grey-200: #e2e8f0;
$grey-400: #94a3b8;
$borderRadius: 0.5rem;
$letterSpacing: 1px;
$smallText: 0.7em;
$white: #fff;
$fixed-width: 600px;
// $fixed-width: 900px;
// $primary-500: #8f8681;
$primary-500: #7c8ca7;
$primary-700: #32435f;
// $primary-500: #645cff;
// $primary-700: #3c3799;
$shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
$shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
$transition: 0.3s ease-in-out all;

.form {
  width: 90%;
  max-width: $fixed-width;
  background: $white;
  border-radius: $borderRadius;
  box-shadow: $shadow-2;
  padding: 2rem 0.3rem 2rem 3rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  .form-header {
    color: $primary-700;
    text-align: center;
    margin: 7px;
    font-size: larger;
  }
  .form-header-seperator {
    width: 97%;
    height: 2px;
    background: $primary-700;
    margin: 5px;
    @media (min-width: 992px) {
      width: 97%;
    }
    @media (min-width: 768px) {
      width: 93%;
    }
    @media (max-width: 576px) {
      width: 97%;
    }
  }
  .form-label {
    display: block;
    font-size: $smallText;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: $letterSpacing;
  }
  .form-input,
  .form-textarea {
    width: 90%;
    padding: 15px;
    border-radius: 4px;
    background: $backgroundColor;
    margin: auto;
    &::placeholder {
      font-family: inherit;
      color: $grey-400;
    }

    &:focus {
      outline: none;
    }
  }
  .form-row {
    margin-bottom: 1rem;
  }
  .form-textarea {
    height: 7rem;
  }
  .btn {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 35px;
    cursor: pointer;
    color: $white;
    background: $primary-500;
    border: transparent;
    border-radius: 4px;
    letter-spacing: $letterSpacing;
    padding: 15px;
    box-shadow: $shadow-1;
    transition: $transition;
    text-transform: capitalize;
    display: inline-block;
    &:hover {
      background: $primary-700;
      box-shadow: $shadow-3;
    }
    @media (min-width: 992px) {
      width: 97%;
    }
    @media (min-width: 768px) {
      width: 94%;
    }
    @media (max-width: 576px) {
      width: 98%;
    }
  }
  @media (min-width: 992px) {
    width: 90%;
  }
  @media (min-width: 576px) {
    width: 80%;
    padding: 2rem 1rem 2rem 3rem;
  }
  @media (max-width: 576px) {
    width: 70%;
    padding: 2rem 2.5rem 2rem 3rem;
  }
}

.confirm-container {
  width: 100vw;
  height: 100vh;
  background: rgb(50, 67, 95, 0.3);
  z-index: 5;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  transform: scale(0);

  .confirm {
    width: 70%;
    height: 80%;
    background: #e1dcd9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    max-width: $fixed-width;
    overflow: hidden;
    position: relative;

    .seperator {
      width: 90%;
      height: 2px;
      background: #32435f;
    }
    h3,
    .seperator {
      position: relative;
      top: -30px;
    }

    h3 {
      margin-bottom: 8px;
    }

    p {
      margin-bottom: 30px;
    }

    .form {
      padding-right: 40px;
      .btn {
        @media (max-width: 576px) {
          width: 102%;
        }
        @media (min-width: 576px) {
          position: relative;
          left: 10px;
          width: 96%;
        }
      }
    }

    .cancel {
      // border: 1px solid #32435f;
      padding: 6px;
      margin-top: 10px;
      border-radius: 3px;
      position: relative;
      // top: 50px;
      right: -40%;
      color: #32435f;
      cursor: pointer;
    }
  }

  &.active {
    transform: scale(1);
  }
}

.top {
  color: #e1dcd9;
  background: #32435f;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  overflow: hidden;

  .back-icon {
    margin-right: 25px;
    font-size: 30px;
    cursor: pointer;
  }
}

.total {
  height: 100px;
  width: 92%;
  margin: auto;
  margin-top: 10px;
  // background: #8f8681;
  background: #7c8ca7;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: center;
  transition: all 1s ease;
  cursor: pointer;
  max-width: $fixed-width;

  .total-info {
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow: hidden;

    h3,
    strong,
    p {
      padding-left: 30px;
      margin: -4px 0;
    }
    .amount {
      font-size: 25px;
      margin: 5px 0;
    }
    .savings-percentage {
      margin: -2px 0;
    }
  }

  .dropdown-icon {
    color: #32435f;
    transition: all 1s ease;
  }

  &:hover {
    background: #32435f;

    .dropdown-icon {
      color: #fff;
    }
  }
}

.account-select-box-container {
  width: 100%;
  height: 100%;
  top: 100vh;
  background: rgb(0, 0, 0, 0.5);
  transition: all 1s ease;
  position: fixed;
  z-index: 2;

  .account-select-box {
    width: 90%;
    height: 50%;
    background: white;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 5%;
    right: 5%;
    // background: olive;
    background: #7c8ca7;
    border-radius: 10px 10px 0 0;
    max-width: calc($fixed-width + 50px);
    display: flex;
    flex-direction: column;
    // align-items: center;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    div {
      padding: 10px 20px;
      overflow: hidden;
    }

    .account-to-select {
      background: whitesmoke;
      margin: 5px 0;
      padding: 0;
      cursor: pointer;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
  &.active {
    top: 0;
  }
}

.select {
  width: 90vw;
  height: 8vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid gray;
  margin-top: 15px;
  padding: 0 0 0 5px;
  // z-index: -2;
  cursor: pointer;
  overflow: hidden;
  max-width: $fixed-width;
  color: #32435f;

  .text {
    padding: 10px;
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin-top: 2px;
    .text-head {
      opacity: 0.7;

      &.reduce-category,
      &.reduce-biller,
      &.reduce-product {
        font-size: 12px;
        margin: 2px 0;
      }
    }
  }
}

.product-and-form-container,
.form-container {
  width: 100%;

  form {
    width: 100vw;
    height: 40%;
    margin: auto;
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .input-box {
      width: 90%;
      height: 9%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid gray;
      padding: 0 0 0 5px;
      // z-index: -2;
      cursor: pointer;
      overflow: hidden;
      max-width: $fixed-width;
      margin-bottom: 15px;
      position: relative;
      color: #32435f;

      .naira-symbol {
        padding-top: 8px;
      }

      input {
        width: 98%;
        height: 6vh;
        padding-top: 10px;
        // max-width: $fixed-width;
        margin-left: 5px;
        border: none;
        font-size: 16px;
        color: #32435f;

        &:focus {
          outline: none;
        }
        &:focus ~ .placeholder {
          top: 1px;
          font-size: 11px;
        }
      }
      .placeholder {
        position: absolute;
        font-size: 16px;
        pointer-events: none;
        color: rgb(42, 42, 42);
        left: 1px;
        // top: 1px;
        margin-left: 15px;
        transition: 0.1s ease all;
        &.amount {
          margin-left: 20px;
        }

        &.active {
          top: 1px;
          font-size: 11px;
        }
      }

      .show-password-icon {
        cursor: pointer;
        margin-right: 15px;
      }
    }

    button {
      width: 90%;
      height: 7vh;
      max-width: $fixed-width;
      margin-bottom: 15px;
      background: $primary-500;
      border: transparent;
      transition: all 1s ease;
      color: #fff;
      &:hover {
        background: $primary-700;
        box-shadow: $shadow-3;
      }
    }
  }
}

.Toastify__toast--error {
  @media (max-width: 576px) {
    width: 95vw;
    // height: 20vh;
    position: relative;
    margin-top: 20px;
    left: 10px;
  }
}
