* {
  overflow-x: hidden;
}

.home {
  height: 100vh;
  .home-container {
    margin: auto;
    height: calc(100vh - 70px);
    text-align: center;
    width: 100%;
    position: relative;
    top: 70px;
    // scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
    transition: all 1s ease;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      overflow-y: hidden;
      height: calc(100vh - 70px);
      // scroll-snap-align: start;
      // transition: all 1s ease;
    }
  }
}
