.contact {
  background: url('../../../../assets/pexels-olena-bohovyk-1772123.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  .social-container {
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .icons-container {
      display: flex;
      align-items: center;
      margin-top: 40px;
      justify-content: space-between;
      width: 60%;
      a {
        text-decoration: none;
        color: inherit;
      }
      .icon {
        transition: all 1s ease;
        &:hover {
          color: orange;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    background: #32435f;
    width: 100%;
    height: 70%;
    .footer-container {
      width: 90%;
      height: 90%;
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      color: #e1dcd9;
      overflow: hidden;
      .footer-column {
        height: 90%;
        width: 22.5%;
        // width: 30%;
        position: relative;
        top: 20px;
        .line {
          background: #e1dcd9;
          height: 2.5px;
          width: 100%;
        }
        h4 {
          margin: 0;
          padding: 10px;
        }
        &.one {
          h4 {
            color: red;
          }
        }
      }
      @media (max-width: 992px) {
      }
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        .footer-column {
          height: 90%;
          width: 90%;
          margin: auto;
        }
      }
      @media (max-width: 576px) {
        display: flex;
        flex-direction: column;
        .footer-column {
          height: 90%;
          width: 90%;
          margin: auto;
        }
      }
    }
    .footer-divider {
      height: 2px;
      width: 90%;
      background: #e1dcd9;
      margin: auto;
      margin-bottom: 10px;
    }
    span {
      color: #e1dcd9;
    }
    @media (max-width: 992px) {
    }
    @media (max-width: 768px) {
    }
    @media (max-width: 576px) {
    }
  }
}
