@import '../../../../global.scss';

.services {
  background: url('../../../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    position: absolute;
    cursor: pointer;

    &.left {
      left: 50px;
      transform: rotateY(180deg);
    }
    &.right {
      right: 50px;
    }
    // @media (max-width: 768px) {
    //   display: none;
    // }
  }

  .services-slider {
    height: 65%;

    // height: 350px;
    display: flex;
    position: absolute;
    left: 0;
    background: #e1dcd9;
    transition: all 2s ease;
    .container {
      width: 100vw;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      // justify-content: space-between;
      margin-top: -45px;
      height: 80%;

      .service-card {
        width: 350px;
        height: 100%;
        background: goldenrod;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s ease;
        transform-origin: center;
        &:hover {
          // background: green;
        }

        .left {
          background: goldenrod;
          height: 100%;
          flex: 4;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .right {
          background: #8f8681;
          text-align: left;
          flex: 8;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          transition: all 1s ease;
          ul {
            position: relative;
            top: -5px;
            padding: 20px;
            li {
              margin: 3px 0;
              transition: all 0.5s ease;
              border-radius: 5px;
              padding: 1px;
              &:hover {
                background: $mainColor;
                color: white;
                font-size: large;
                padding-left: 7px;
              }
            }
          }
        }
      }
    }
  }
  h3 {
    margin-bottom: -100px;
    margin-top: 120px;
  }
}
