@import '../../../../global.scss';

.services {
  background: url('../../../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .carousel-container {
    width: 95%;
    height: 65vw;
    overflow: hidden;

    .item {
      border: 2px solid black;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      .header {
        width: 100%;
        height: 12%;
        background: goldenrod;
      }
      .body {
        width: 100%;
        height: 88%;
        background: #8f8681;
        display: flex;
        align-items: center;
        transition: all 1s ease;
        overflow: hidden;
        ul {
          position: relative;
          top: -5px;
          padding: 20px;
          li {
            margin: 3px 0;
            transition: all 0.5s ease;
            border-radius: 5px;
            padding: 1px;
            &:hover {
              background: $mainColor;
              color: white;
              font-size: large;
              padding-left: 7px;
            }
          }
        }
      }
    }
  }

  h3 {
    margin-bottom: -100px;
    margin-top: 120px;
  }
}
