@import '../../../../global.scss';

.mobile-topup {
  width: 100vw;
  // height: 100vh;
  background: url('../../../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .confirm-container {
    top: 0;
  }

  .form {
    position: relative;
    // top: 2%;
    // background: #d6ba73;
    margin: 10px 0;

    .total {
      @media (min-width: 576px) {
        margin-left: 2px;
        width: 95%;
      }
      @media (max-width: 576px) {
        width: 97%;
      }
    }

    .form-input {
      @media (max-width: 576px) {
        width: 89%;
      }
    }

    .amount-option-box {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 96%;

      div {
        width: 48%;
        padding: 6px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: whitesmoke;
        margin: 5px 2.5px;
        box-shadow: $shadow-1;
        cursor: pointer;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
    .logos-container {
      display: flex;
      height: 11vh;
      margin: 10px 0;
      width: 96%;
      overflow: hidden;

      .item {
        width: 25%;
        margin: 10px;
        height: 65%;
        // background: green;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: $shadow-3;
        padding: 5px 0;

        &.active {
          border: 1px solid #32435f;
        }
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    .btn {
      &.disabled {
        background: #7c8ca7;
        opacity: 0.5;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
}
