@import '../../../../global.scss';

.mobile-topup {
  background: #fff;
  width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .top {
    width: 100%;
    background: #e1dcd9;
    height: 10%;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10px;

    .back-icon {
      margin-right: 25px;
      font-size: 30px;
      cursor: pointer;
    }
  }

  .account-select-box {
    width: 90%;
    height: 50%;
    background: white;
    position: absolute;
    margin: auto;
    z-index: 2;
    // left: auto;
    // right: auto;
    top: 48%;
    left: 100vw;
    background: olive;
    border-radius: 10px 10px 0 0;
    max-width: calc($fixed-width + 50px);
    transition: all 1s ease;
    display: flex;
    flex-direction: column;
    // align-items: center;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    div {
      padding: 10px 20px;
      overflow: hidden;
    }

    .account-to-select {
      background: whitesmoke;
      margin: 5px 0;
      padding: 0;
      cursor: pointer;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    &.active {
      left: 10vw;
      right: 10vw;
      @media (max-width: 576px) {
        left: 5vw;
        right: 10vw;
      }
      @media (min-width: 576px) and (max-width: 768px) {
        background: #32435f;
        left: 5vw;
        right: 5vw;
      }
    }
  }

  .form {
    position: relative;
    // top: 2%;
    background: orange;
    margin-bottom: 10px;

    .total {
      height: 150px;
      width: 96%;
      background: #8f8681;
      color: white;
      border-radius: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      // justify-content: center;
      transition: all 1s ease;
      cursor: pointer;

      .total-info {
        display: flex;
        flex-direction: column;
        width: 90%;
        overflow: hidden;

        h3,
        strong,
        p {
          padding-left: 30px;
          margin: -4px 0;
        }
        .amount {
          font-size: 25px;
          margin: 5px 0;
        }
        .savings-percentage {
          margin: -2px 0;
        }
      }

      .dropdown-icon {
        color: #32435f;
        transition: all 1s ease;
      }

      &:hover {
        background: #32435f;

        .dropdown-icon {
          color: #fff;
        }
      }
      @media (min-width: 768px) {
        width: 94%;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
    }

    .form-input {
      @media (max-width: 576px) {
        width: 89%;
      }
    }

    .amount-option-box {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 96%;

      div {
        width: 48%;
        padding: 6px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: whitesmoke;
        margin: 5px 2.5px;
        box-shadow: $shadow-1;
        cursor: pointer;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
    .logos-container {
      display: flex;
      height: 11vh;
      margin: 10px 0;
      width: 96%;
      overflow: hidden;

      .item {
        width: 25%;
        margin: 10px;
        height: 65%;
        // background: green;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: $shadow-3;
        padding: 5px 0;

        &.active {
          border: 1px solid #32435f;
        }
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
}
