@import '../../../../global.scss';

.mobile-topup {
  width: 100vw;
  height: calc(100vh + 65px);
  position: relative;
  top: 65px;
  background: url('../../../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .top {
    position: fixed;
    top: 0;
    z-index: 2;
  }

  .confirm-container {
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    .confirm {
      height: 75%;
      margin-top: 50px;
      .confirm-message {
        @media (max-width: 576px) {
          font-size: 14px;
        }
      }

      .form {
        width: 70%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        input {
          border: none;
          width: 85%;
          border: 1px solid #dde3ed;
        }

        @media (max-width: 576px) {
          width: 65%;
        }
      }
    }
  }

  .form {
    position: relative;
    top: 15px;
    // background: #d6ba73;
    margin: 10px 0;
    margin: auto;

    .total {
      .total-info {
        @media (max-width: 576px) {
          h3 {
            font-size: 18px;
          }
        }
      }
      @media (min-width: 576px) {
        margin-left: 2px;
        width: 95%;
      }
      @media (max-width: 576px) {
        width: 97%;
      }
    }

    .form-input {
      @media (max-width: 576px) {
        width: 89%;
      }
    }

    .amount-option-box {
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 96%;

      div {
        width: 48%;
        padding: 6px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: whitesmoke;
        margin: 5px 2.5px;
        box-shadow: $shadow-1;
        cursor: pointer;
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }
    .logos-container {
      display: flex;
      height: 11vh;
      margin: 10px 0;
      width: 96%;
      overflow: hidden;

      .item {
        width: 25%;
        margin: 10px;
        height: 65%;
        // background: green;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        box-shadow: $shadow-3;
        padding: 5px 0;

        &.active {
          border: 1px solid #32435f;
        }
      }

      @media (max-width: 576px) {
        width: 100%;
      }
    }

    .btn {
      &.disabled {
        background: #7c8ca7;
        opacity: 0.5;
        box-shadow: none;
        cursor: not-allowed;
      }
    }
  }
}
