* {
  overflow-x: hidden;
}

.home-container {
  margin: auto;
  height: calc(100vh - 70px);
  text-align: center;
  width: 100%;
  scroll-behavior: smooth;
  transition: all 1s ease;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  > * {
    width: 100vw;
    overflow-y: hidden;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
    transition: all 1s ease;
  }
}
