.intro {
  background: url('../../../../assets/pexels-jess-bailey-designs-1097930.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.welcome-note {
  padding: 2em;
}
