@import '../../../../global.scss';

.intro {
  background: url('../../../../assets/pexels-jess-bailey-designs-1097930.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  .intro-opacity-cover {
    background: rgba(0, 0, 0, 0.35);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .intro-body {
      width: 90%;
      margin: auto;
      height: 50%;
      display: flex;
      flex-direction: row;
      overflow: hidden;
      transition: all 1s ease;

      .welcome-note {
        padding: 2em;
        width: 95%;
        margin: auto;
        height: 100%;
        background: white;
        transition: all 1s ease;
        overflow: hidden;
      }
      .intro-sidebar {
        background: white;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 10px;
        transition: all 1s ease;

        // height: 100%;
        // width: 15%;
      }
      &:hover {
        box-shadow: 10px 10px 25px 3px rgb(72, 72, 72);
        border-radius: 5px;
        .intro-sidebar {
          background: greenyellow;
        }
        .welcome-note {
          color: $mainColor;
        }
      }
    }
  }
}
