.our-history {
  width: 100vw;
  background: url('../../assets/pexels-henry-&-co-2059736.jpg');
  background-color: #e1dcd9;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  .top {
    position: fixed;
    background: #32435f;
    color: #e1dcd9;
    padding-left: 25px;
    height: 15vh;
    z-index: 2;
    font-size: 25px;
  }

  .container {
    width: calc(90% - 40px);
    max-width: 750px;
    margin: auto;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 25px;
    position: relative;
    top: 20vh;

    .line {
      width: 95%;
      height: 1.5px;
      background: #d6ba73;
      margin: auto;
    }

    h3 {
      color: #7c8ca7;
    }
  }
  @media (min-width: 576px) {
    height: 100vh;

    .container {
      top: 10vh;
    }
  }

  @media (min-width: 576px) and (max-width: 768px) {
    .container {
      top: 16vh;
    }
  }
}
