.account-info {
  width: 100vw;
  height: 100vh;
  background: #e1dcd9;

  .container {
    width: 90%;
    height: 90%;
    margin: auto;
    position: relative;
    top: 5%;
    max-width: 750px;

    .top {
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: center;
      background: #32435f;
      margin-top: 10px;
      color: #e1dcd9;

      div {
        width: 30%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: small;
        span {
          font-size: 20px;
          font-weight: bold;

          &.number {
            @media (max-width: 576px) {
              font-size: 16px;
            }
          }
        }
      }
      .seperator {
        border-right: 1px solid black;
      }
    }

    .body {
      width: 95%;
      width: auto;
      padding: 5px;
      margin: 2.5%;

      .buttons-container {
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        div {
          width: 25%;
          height: 100%;
          background: #e1dcd9;
          padding: 0.75em;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          color: #32435f;

          &.close-acct-btn {
            &:hover {
              .close-acct-icon {
                transition: all 0.5s ease;

                color: #860202;
              }
            }
          }

          .content {
            width: 100%;
            text-align: center;
          }

          .item {
            margin-bottom: -5px;
            cursor: pointer;
            transform: scale(1.5);
          }
        }
      }

      .header {
        text-align: center;
        color: #32435f;
      }

      .transaction {
        width: calc(100% - 0.5px);
        display: flex;
        flex-direction: row;
        margin: 5px 0;
        background: #e1dcd9;
        padding: 0.7em 0.5px;
        cursor: pointer;

        .left {
          width: 10%;
          display: flex;
          align-items: center;

          @media (max-width: 576px) {
            margin-right: 5px;
          }
        }

        .center {
          width: 70%;
        }

        .right {
          width: 20%;
          display: flex;
          align-items: center;
        }

        .debit {
          color: red;
        }
        .credit {
          color: green;
        }
      }
    }

    .delete-acct-confirm-box {
      width: 100%;
      height: 100%;
      background: rgb(50, 67, 95, 0.3);
      transition: all 0.8s ease;
      position: fixed;
      top: 100%;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        top: 0;
      }

      .confirm-delete {
        width: 70%;
        height: 50%;
        background: white;
        border-radius: 5px;
        max-width: 650px;

        .message {
          width: calc(100% - 30px);
          height: 80%;
          padding: 0 15px 0 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          text-align: center;

          p {
            overflow: hidden;
            margin-top: 10px;
          }

          .message-head {
            font-size: 17px;
            margin-top: 10px;
            color: #860202;
          }
        }
        .confirm-btn {
          width: 100%;
          height: 20%;
          color: rgb(255, 0, 0);
          font-size: large;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.5s ease;
          cursor: pointer;

          &:hover {
            background: #860202;
            color: #e1dcd9;
          }
        }
      }
    }
  }
}
