.account-info {
  width: 100vw;
  height: 100vh;
  background: #e1dcd9;

  .container {
    width: 90%;
    height: 90%;
    margin: auto;
    position: relative;
    top: 5%;
    max-width: 750px;

    .top {
      width: 95%;
      margin: auto;
      display: flex;
      justify-content: center;
      background: #32435f;
      margin-top: 10px;
      color: #e1dcd9;

      div {
        width: 30%;
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: small;
        span {
          font-size: 20px;
          font-weight: bold;
        }
      }
      .seperator {
        border-right: 1px solid black;
      }
    }

    .body {
      width: 95%;
      width: auto;
      padding: 5px;
      margin: 2.5%;

      .buttons-container {
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        div {
          width: 25%;
          height: 100%;
          background: #e1dcd9;
          padding: 0.75em;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          .content {
            width: 100%;
            text-align: center;
          }

          .item {
            margin-bottom: -5px;
            cursor: pointer;
            transform: scale(1.5);
          }
        }
      }

      .header {
        text-align: center;
      }

      .transaction {
        display: flex;
        flex-direction: row;
        margin: 5px 0;
        background: #e1dcd9;
        width: 100%;
        padding: 0.75em;
        cursor: pointer;

        .left {
          width: 20%;
          display: flex;
          align-items: center;
        }

        .center {
          width: 60%;
        }

        .right {
          width: 20%;
          display: flex;
          align-items: center;
        }

        .debit {
          color: red;
        }
        .credit {
          color: green;
        }
      }
    }
  }
}
