@import '../../../global.scss';

.search {
  background: #e1dcd9;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  form {
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: -200px;

    .input {
      width: 90%;
      padding: 15px;
      border-radius: 25px;
      background: $backgroundColor;
      border: none;
      &::placeholder {
        font-family: inherit;
        color: $grey-400;
      }
    }
  }
  .users {
    width: 80vw;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
  }
}
