@import '../../../global.scss';

.search {
  background: #e1dcd9;
  background: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  form {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: -200px;
    position: relative;
    top: 30px;
    overflow: hidden;

    .input {
      width: 100%;
      padding: 15px;
      border-radius: 25px;
      background: $backgroundColor;
      // outline: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: inherit;
        color: #32435f;
      }
    }
  }
  .users {
    width: 90vw;
    // height: 70vh;
    // border: 1px solid #5f4945;
    background: white;
    background: #e1dcd9;
    border-radius: 5px;
    margin: auto;
    margin-top: 250px;
    box-shadow: $shadow-1;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;

      td,
      th {
        // border: 1px solid #777573;
        border: 1px solid #fff;
        text-align: left;
        padding: 8px;

        a {
          cursor: pointer;
        }
      }

      th {
        color: #32435f;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
      @media (max-width: 768px) {
        .phone,
        .account-number {
          display: none;
        }
      }
      @media (max-width: 768px) {
        .phone {
          display: none;
        }
      }
    }
  }
}
