@import '../../global.scss';

.account-page {
  background: #e1dcd9;
  width: 100vw;
  height: 100vh;

  .transaction-box {
    width: 90%;
    height: 90%;
    background: #04aa6d;
    position: fixed;
    left: 5%;
    top: 5%;
    z-index: 2;
    // max-width: $fixed-width;
    transform: scale(0);
    transition: all 0.5s ease;

    .close {
      color: white;
      position: fixed;
      right: 5%;
      cursor: pointer;
    }

    .form {
      width: 90%;
      margin: auto;

      .form-label {
        display: block;
        font-size: 0.9em;
        padding: 10px 0;
        margin-bottom: 0.5rem;
        text-transform: capitalize;
        letter-spacing: $letterSpacing;

        &.select {
          padding-bottom: 0;
        }
      }

      .form-input {
        width: 100%;
        padding: 15px;
        border-radius: 4px;
        background: $backgroundColor;
        border: 1px solid $grey-200;
        margin: auto;
        &::placeholder {
          font-family: inherit;
          color: $grey-400;
        }
      }

      .form-select {
        background-color: white;
        width: 100%;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.7em 3.5em 0.7em 1em;

        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        &:focus {
          background-image: linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
          background-size: 5px 5px, 5px 5px, 1px 1.5em;
          background-repeat: no-repeat;
          border-color: green;
          outline: 0;
        }
      }

      .btn {
        width: 100%;
        margin-top: 50px;
        margin-bottom: 35px;
        cursor: pointer;
        color: $white;
        background: $primary-500;
        border: transparent;
        border-radius: 4px;
        letter-spacing: $letterSpacing;
        padding: 15px;
        box-shadow: $shadow-1;
        transition: $transition;
        text-transform: capitalize;
        display: inline-block;
        overflow: hidden;

        &:hover {
          background: $primary-700;
          box-shadow: $shadow-3;
        }
      }
    }

    &.open {
      transform: scale(1);
      .close {
        right: 0;
      }
    }
  }

  .activate-deactivate-box {
    width: 90%;
    height: 90%;
    background: #fff;
    position: fixed;
    transform: scale(0);
    z-index: 2;
    transition: all 0.5s ease;

    .activate-deactivate {
      margin: auto;
      width: 90%;
      height: 50%;
      background: #04aa6d;
      position: relative;
      top: 25%;
      display: flex;
      align-items: center;
      justify-content: center;

      .form-select {
        background-color: white;
        width: 100%;
        border-radius: 4px;
        display: inline-block;
        font: inherit;
        line-height: 1.5em;
        padding: 0.7em 3.5em 0.7em 1em;

        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-image: linear-gradient(45deg, transparent 50%, gray 50%),
          linear-gradient(135deg, gray 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
        background-position: calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px), calc(100% - 2.5em) 0.5em;
        background-size: 5px 5px, 5px 5px, 1px 1.5em;
        background-repeat: no-repeat;
        &:focus {
          background-image: linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
          background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
          background-size: 5px 5px, 5px 5px, 1px 1.5em;
          background-repeat: no-repeat;
          border-color: green;
          outline: 0;
        }
      }
    }
    .close {
      position: fixed;
      right: 5%;
      cursor: pointer;
    }

    &.open {
      transform: scale(1);
      .close {
        right: 0;
      }
    }
  }

  .container {
    width: 90%;
    margin: auto;
    margin-top: 5vh;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .details-container {
      width: 100%;
      height: 70%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      .name-container,
      .account-number-container,
      .number-container,
      .mail-container {
        color: #fff;
        background: #32435f;
        width: 45%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        font-size: 20px;
        // color: white;

        span {
          font-size: small;
        }
      }
    }

    .buttons-container {
      width: 98%;
      height: 30%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-top: -80px;
      padding: 0 10px;

      button {
        width: 22%;
        height: 80px;
        background: #555555;
        // background: #e1dcd9;
        border: none;
        box-shadow: $shadow-3;
        color: #e1dcd9;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        border-radius: 3px;

        &.delete {
          background: #f44336;
          color: #32435f;
        }
        &.debit {
          background: #e1dcd9;
          color: #32435f;
        }
        &.credit {
          // background: #32435f;
          color: #e1dcd9;
          background: #04aa6d;
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
