.resources {
  .container {
    background: url('../../../../assets/pexels-jess-bailey-designs-1157804.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
    width: 90%;
    height: 90%;
    position: relative;
    top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: #32435f;

    .box-1 {
      margin: auto;
      height: 90%;
      width: 90%;
      background: white;
      border-radius: 5px;
      border: 1px solid gold;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      strong {
        overflow: hidden;
        margin: 10px;
      }

      .question {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
      }
      .answer {
        width: 90%;
        padding: 10px;
        border-bottom: 1px solid #32435f;
      }

      &:hover {
        border: 3px dashed gold;
      }
      .seperator-container {
        width: 95%;
        height: 25px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: -15px;
        overflow: hidden;
        .circle {
          transform: scale(0.5);
          color: #32435f;
        }
        span {
          width: 50%;
          height: 2px;
          background: #32435f;
        }
      }
    }
    @media (max-width: 768px) {
      .box-1 {
        height: 95%;
        width: 95%;
      }
    }
    @media (min-width: 576px) {
      .box-1 {
        padding-top: 3em;
      }
    }
  }
}
