@import '../../global.scss';

.transfer {
  width: 100vw;
  // height: 100vh;
  display: flex;
  flex-direction: column;

  .confirm-container {
    width: 100vw;
    height: 100vh;
    background: rgb(50, 67, 95, 0.3);
    z-index: 5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;
    transform: scale(0);

    .confirm {
      width: 70%;
      height: 70%;
      background: #e1dcd9;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 10px;
      .seperator {
        width: 90%;
        height: 2px;
        background: #32435f;
      }
      h3,
      .seperator {
        position: relative;
        top: -50px;
      }
      .confirmation-form {
        border: 1px solid #32435f;
        border-radius: 5px;
        padding: 10px 10px 10px 40px;
        margin-top: 40px;
        .form {
          width: 90%;

          .form-label {
            display: block;
            font-size: $smallText;
            margin-bottom: 0.5rem;
            text-transform: capitalize;
            letter-spacing: $letterSpacing;
          }

          .form-input {
            width: 85%;
            padding: 15px;
            border-radius: 4px;
            background: $backgroundColor;
            border: 1px solid $grey-200;
            margin: auto;
            &::placeholder {
              font-family: inherit;
              color: $grey-400;
            }
          }

          .btn {
            width: 95%;
            margin-top: 50px;
            margin-bottom: 35px;
            cursor: pointer;
            color: $white;
            background: $primary-500;
            border: transparent;
            border-radius: 4px;
            letter-spacing: $letterSpacing;
            padding: 15px;
            box-shadow: $shadow-1;
            transition: $transition;
            text-transform: capitalize;
            display: inline-block;
            overflow: hidden;

            &:hover {
              background: $primary-700;
              box-shadow: $shadow-3;
            }
            @media (min-width: 992px) {
              width: 97%;
            }
            @media (min-width: 768px) {
              width: 94%;
            }
            @media (max-width: 576px) {
              width: 98%;
            }
          }
        }
      }
      .cancel {
        // border: 1px solid #32435f;
        padding: 6px;
        margin-bottom: -20px;
        margin-top: 10px;
        border-radius: 3px;
        position: relative;
        left: 135px;
        color: #32435f;
        cursor: pointer;
      }
    }

    &.active {
      transform: scale(1);
    }
  }

  .form-container {
    position: relative;
    padding-top: 25px;
    .form {
      width: 90%;
      // height: 100%;
      max-width: $fixed-width;
      background: $white;
      border-radius: $borderRadius;
      box-shadow: $shadow-2;
      padding: 2rem 0.3rem 2rem 3rem;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      background: #e1dcd9;
      position: relative;

      .account-balance-container {
        width: 98%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .account-balance {
          width: 47%;
          background: #a67f78;
          color: white;
          border-radius: 3px;
          // margin: auto;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 0;
          margin-top: 10px;
          overflow: hidden;
          cursor: pointer;

          &.active {
            border: 5px solid #32435f;
          }
        }
        @media (min-width: 992px) {
          width: 97%;
        }
        @media (min-width: 768px) {
          width: 96%;
        }
        @media (max-width: 576px) {
          width: 98%;
        }
      }
      .daily-limit-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 96%;
        // margin: auto;
        margin-top: 30px;
        border: 1px solid #32435f;
        padding: 3px;
        // background: #a67f78;
        overflow: hidden;

        .total {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        .remaining {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @media (min-width: 992px) {
          width: 97%;
        }
        @media (min-width: 768px) {
          width: 94%;
        }
        @media (max-width: 576px) {
          width: 97%;
        }
      }

      .form-input-container {
        overflow: hidden;
      }

      .btn {
        width: 95%;
        margin-top: 50px;
        margin-bottom: 35px;
        cursor: pointer;
        color: $white;
        background: $primary-500;
        border: transparent;
        border-radius: 4px;
        letter-spacing: $letterSpacing;
        padding: 15px;
        box-shadow: $shadow-1;
        transition: $transition;
        text-transform: capitalize;
        display: inline-block;
        overflow: hidden;

        &:hover {
          background: $primary-700;
          box-shadow: $shadow-3;
        }
        @media (min-width: 992px) {
          width: 97%;
        }
        @media (min-width: 768px) {
          width: 94%;
        }
        @media (max-width: 576px) {
          width: 98%;
        }
      }
      @media (min-width: 992px) {
        width: 90%;
      }
      @media (min-width: 576px) {
        width: 80%;
        padding: 2rem 1rem 2rem 3rem;
      }
      @media (max-width: 576px) {
        width: 70%;
        padding: 2rem 2.5rem 2rem 3rem;
      }
    }
  }
}
