.about {
  background: url('../../../../assets/pexels-ben-neale-380330.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 2em;
  // margin: auto;
}

.about-message {
  margin-top: 3em;
  width: 90%;
}
