@import '../../../../global.scss';
.about {
  background: url('../../../../assets/pexels-ben-neale-380330.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: auto;

  .about-message {
    position: relative;
    top: -32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 506px;
    margin-left: -70px;
    margin-bottom: -90px;

    h3 {
      margin-bottom: 0;
      margin-top: 5px;
    }

    p {
      overflow: hidden;
    }
  }

  .financial-tools-writeup {
    height: 130px;
    width: 95%;
    margin-left: -70px;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50px;
    padding: 0 20px;
    p,
    h4 {
      overflow: hidden;
    }

    h4 {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-300vw);
    }
  }
  .boxes {
    // height: 80px;
    height: 20vh;
    width: 100vw;
    overflow: hidden;
    margin-bottom: -50px;
    padding: 60px 0;
    background: linear-gradient(
      to bottom,
      rgb(143, 134, 129, 0.3),
      rgb(255, 255, 255)
    );
    // white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: -30px;
    margin-top: 90px;

    .div-slide {
      width: 200vw;
      height: 90%;
      // background: whitesmoke;
      position: absolute;
      left: 100vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      animation: 25s slide infinite linear;
      transition: all 1s ease;
      overflow: hidden;

      @media (max-width: 992px) {
      }
      @media (max-width: 768px) {
      }
      @media (max-width: 576px) {
      }

      div {
        background: linear-gradient(
          to bottom right,
          rgb(50, 67, 95, 0.9),
          #8f8681
        );
        border: 5px solid gold;
        color: #e1dcd9;
        margin: 10px;
        width: 40vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transition: all 1s ease;
        border-radius: 10px;
        box-shadow: $shadow-2;

        &:hover {
          p {
            background: #32435f;
            border-radius: 3px;
            color: #e1dcd9;
          }
          &.tool {
            transition: all 2s ease;
            background: #8f8681;
            cursor: pointer;
            font-size: large;
          }
          &.one {
            background: url('../../../../assets/Budget\ Planner.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          &.two {
            background: url('../../../../assets/Savings\ Planner.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          &.three {
            background: url('../../../../assets/Retirement\ Planner.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          &.four {
            background: url('../../../../assets/pexels-pratikxox-4025825.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
          &.five {
            background: url('../../../../assets/Currency\ converter.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
          }
        }
      }
    }

    @media (min-width: 768px) {
      // margin-top: 100px;
      &:hover {
        .div-slide {
          animation-play-state: paused;
        }
      }
    }
    @media (max-width: 768px) {
      div {
        p {
          background: #32435f;
          border-radius: 3px;
          color: #e1dcd9;
        }
        &.tool {
          transition: all 2s ease;
          background: #8f8681;
          cursor: pointer;
          font-size: large;
        }
        &.one {
          background: url('../../../../assets/Budget\ Planner.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        &.two {
          background: url('../../../../assets/Savings\ Planner.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        &.three {
          background: url('../../../../assets/Retirement\ Planner.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        &.four {
          background: url('../../../../assets/pexels-pratikxox-4025825.jpg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
        &.five {
          background: url('../../../../assets/Currency\ converter.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }
      }
    }
  }
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;

    .logos-slide {
      display: inline-block;
      animation: 35s slide infinite linear;
      img {
        height: 50px;
        margin: 0 40px;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 100%;
      display: block;
      z-index: 2;
      // background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
      background: red;
    }
    &:after {
      display: block;
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: '';
      z-index: 2;
      right: 0;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
    &:hover {
      .logos-slide {
        animation-play-state: paused;
      }
    }
  }

  @media (max-width: 576px) {
    p {
      font-size: 13.5px;
    }
  }
}
